NUXT_PUBLIC_APPWRITE_PROJECT_ID = "6a4dec**********"
NUXT_PUBLIC_APPWRITE_PROJECT_NAME = "Demo Project"
NUXT_PUBLIC_APPWRITE_ENDPOINT = "https://appwrite.yourdomain.com/v1"
NUXT_PUBLIC_APPWRITE_PUSH_PROVIDER_ID = "6a4e0c490******"
NUXT_PUBLIC_APPWRITE_DATABASE_ID = "6a4deca500**********"
NUXT_PUBLIC_APPWRITE_PERSON_COLLECTION_ID = "test"
NUXT_PUBLIC_APPWRITE_STORAGE_BUCKET_ID = "6a4f3175001f0393928a"
APPWRITE_API_KEY="standard_7f6d2fab7270696b93a5db**************************************************************"


NUXT_PUBLIC_FIREBASE_API_KEY="AIzaSyDCNl9ajvE***************"
NUXT_PUBLIC_FIREBASE_AUTH_DOMAIN="push-notification-******.firebaseapp.com"
NUXT_PUBLIC_FIREBASE_PROJECT_ID="push-notification-***********"
NUXT_PUBLIC_FIREBASE_STORAGE_BUCKET="push-notification-****************.firebasestorage.app"
NUXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID="344368***********"
NUXT_PUBLIC_FIREBASE_APP_ID="1:344368***********:web:6416b96b978c5a***********"
NUXT_PUBLIC_FIREBASE_VAPID_KEY="BBNqLiBXJbhJO94lf9_rKQKl_T0sKhwnlBWGSYi3VXVK55***********___*********************_*********"

ADMIN_API_TOKEN="some-long-random-admin-token"
